@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {

    background-color: #202020;
}
/* HEADER STYLES */
.login_buttons {
    width:5%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.login_button {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.login_button:hover {
    color: grey;
    transition: 0.3s;
}

.header_button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header_button:hover {
    color: grey;
    transition: 0.3s;
}

.search_button {
    font-family: 'Audiowide', sans-serif;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 3px solid #864334;
    margin-left: 5px;
    background-color: transparent;
}
.search_button:hover {
    background-color: #864334;
    transition: 0.3s;
}

.slim-dropdown-menu {
    min-width: unset;
    max-width: 150px;
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat'; /* Adjust the width as per your preference */
}

.dropdown-item:active {
    background-color: transparent;
}


/* FOOTER STYLES */
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.socials_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#837F7F;
    font-weight: 600;
    width: 293px;
}

.socials_logos {
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.links_header {
    font-family: 'audiowide', sans-serif;
    font-size: 22px;
    text-align: left;
}

.links_buttons {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    color: #837F7F;
    font-weight: 600;
}

.albums_part {
    display: flex;
    flex-direction: column;

}

.links_part {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 20px;
}

.socials_text_block {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.socials_part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
}

.vertical_line {
    border-left: 2px solid #837F7F;
    height: 150px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.Copyright_part {
    width: 17%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.copyright_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.links_button {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    color: #837F7F;
    font-weight: 600;
}

.links_button:hover {
    color: white;
    transition: 0.3s;
}

.logo_button {
    border-radius: 8px;
}

/* MAIN PAGE */

.main-page{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}

.Header-text {
    font-family: "audiowide", sans-serif;
    color: white;
    font-size: 43px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.left_part {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 45%;
    height: 100%;
    /* margin-top: 20px; */

}
.text-part {
    margin-bottom: 20px;
}

.logo_text {
    font-family: 'audiowide', sans-serif;
    font-size: 85px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    /* margin-top: 20px; */
}

.welcome_p {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
    font-weight: 600;
    width: 100%;
}

.albums_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    /* margin-top: 10px; */
    border-radius: 50px;
}

.Last_added_albums_part {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36%;
    background-color: #2C2C2C;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;
}

.hide-text {
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 0;
}

.hide-text:hover {
    filter: brightness(50%);
    transition: 0.2s;
}

.hide-text p {
    display: none;
    color: white;
    font-family: 'audiowide', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 100%;
    z-index: 2;
}

.hide-text:hover p{
    display: block;
}

.see_more_button {
    font-family: 'Audiowide', sans-serif;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 3px solid #864334;
    margin-left: 5px;
    background-color: transparent;
    width: 100%;
    width: 160px;
}
.see_more_button:hover {
    background-color: #864334;
    transition: 0.3s;
}

.chart_block{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 45%;
    height: 90%;
    background-color: #2C2C2C;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;

}

.charts_header {
    font-family: 'audiowide', sans-serif;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    color: white;
    margin-top: 5px;
}
.h2-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0px;
    margin-top: 0px;
}

.h2-text {
    font-family: "audiowide", sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    font-weight: 700px;
    -webkit-text-stroke: 2px black;
    margin-left: 5px;
    margin-right: 5px;
}

.line {
    width: 180px;
    height: 2px;
    border: white 1px solid;
}

.container {
    max-width: 1440px;
}

.button-div {
    width: 100%; 
    display: flex;  
    justify-content: center; 
    margin: 3px;
}

/* LISTS */

.Header-List {
    font-family: "audiowide", sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 10px;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    -webkit-text-stroke: 2px black;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 15%;
    height: 300px;
    margin: 13px;
    background-color: #2C2C2C;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;
}

.card-text-bigger {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
}

.card-text {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #B8B8B8;
}

.d-flex {
    margin-bottom: 20px;
}