@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #202020;
}
.white-text {
    color: white;
}
.modal-content {
    max-height: 100%;
    overflow: hidden;
    background-color: transparent;
}

.w-65{
    width: 65%;
}

.w-94 {
    width: 94%;
}

.w-95 {
    width: 90%;
}

.w-5 {
    width: 5%;
}

.cross-button {
    background-color: transparent;
    border: none;
    font-size: 32px; /* Adjust this value to increase or decrease the size of the cross */
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* HEADER STYLES */
.login_buttons {
    width:5%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.login_button {
    width: 100%;
    height: 22px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
}

.login_button:hover {
    color: grey;
    transition: 0.3s;
}

.header_button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header_button:hover {
    color: grey;
    transition: 0.3s;
}

.search_button {
    font-family: 'Audiowide', sans-serif;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 3px solid #864334;
    margin-left: 5px;
    background-color: transparent;
}
.search_button:hover {
    background-color: #864334;
    transition: 0.3s;
}

.slim-dropdown-menu {
    min-width: unset;
    max-width: 150px;
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat'; /* Adjust the width as per your preference */
}

.dropdown-item:active {
    background-color: transparent;
}

.avatar-button {
    list-style: none;
    width: 5%;
    height: 50px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


/* FOOTER STYLES */
.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    bottom: 0;
    left: 0;
    position: relative;
}

.socials_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#837F7F;
    font-weight: 600;
    width: 293px;
}

.socials_logos {
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.links_header {
    font-family: 'audiowide', sans-serif;
    font-size: 22px;
    text-align: left;
    color: white;
        text-decoration: none;
}

.links_buttons {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    color: #837F7F;
    font-weight: 600;
}

.albums_part {
    display: flex;
    flex-direction: column;

}

.links_part {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 20px;
}

.socials_text_block {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.socials_part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
}

.vertical_line {
    border-left: 2px solid #837F7F;
    height: 150px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.Copyright_part {
    width: 17%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.copyright_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.links_button {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    color: #837F7F;
    font-weight: 600;
}

.links_button:hover {
    color: white;
    transition: 0.3s;
}

.logo_button {
    border-radius: 8px;
}

/* MAIN PAGE */

.main-page{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 30px;
}

.Header-text {
    font-family: "audiowide", sans-serif;
    color: white;
    font-size: 43px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.left_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
}

.text-part {
    margin-bottom: 20px;
}

.logo_text {
    font-family: 'audiowide', sans-serif;
    font-size: 85px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.welcome_p {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
    font-weight: 600;
    width: 100%;
}

.albums_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 15px;
}

.Last_added_albums_part {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2C2C2C;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;
}

.hide-text {
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    transition: ease all 0.2s;
}

.hide-text:hover {
    filter: brightness(50%);
    /* text-decoration-color: white; */
    transition: 0.2s;
}

.album-name-main {
    text-decoration: none;
    display: none;
    font-family: 'audiowide', sans-serif;
    font-size: 17px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    transition:ease all .5s;
    padding: 5px;
    width: 100%;
}

.artist-name-main {
    text-decoration: none;
    display: none;
    font-family: 'audiowide', sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    transition:ease all .5s;
    width: 100%;
    vertical-align: bottom;
}

.album-cover:hover .artist-name-main {
    display: block;
    transition:ease all .5s;
}

.album-cover:hover .album-name-main {
    display: block;
    transition:ease all .5s;
}

.hide-text:hover p{
    display: block;
}

.see_more_button {
    font-family: 'Audiowide', sans-serif;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 3px solid #864334;
    background-color: transparent;
    width: 100%;
    margin-bottom: 8px;
}

.see_more_button:hover {
    background-color: #864334;
    transition: 0.3s;
}

.chart_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    background-color: #2C2C2C;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;

}

.charts_header {
    font-family: 'audiowide', sans-serif;
    font-size: 76px;    
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 12px;
    margin-bottom: 16px;
}

.h2-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0px;
    margin-top: 0px;
}

.h2-text {
    font-family: "audiowide", sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
    font-weight: 700px;
    -webkit-text-stroke: 2px black;
    margin-left: 5px;
    margin-right: 5px;
}

.line {
    width: 180px;
    height: 2px;
    border: white 1px solid;
}

.container {
    max-width: 1440px;
}

.button-div {
    width: 100%; 
    display: flex;  
    justify-content: center; 
    margin: 3px;
}

/* LISTS */

.Header-List {
    font-family: "audiowide", sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 15px;
    display: flex;
        flex-direction: column;
        align-items: center;
    -webkit-text-stroke: 2px black;

}

.Header-List-1 {
    font-family: "audiowide", sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 10px;
    list-style-type: none;
    -webkit-text-stroke: 2px black;
    text-decoration: underline 2px white;
    transition: ease all 0.3s;
}

.Header-List-1:hover {
    color: grey;
    text-decoration: underline 2px grey;
    transition: ease all 0.3s;
}

.card {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 280px;
    margin: 13px;
    background-color: #2C2C2C;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;
}

.card-text-bigger {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 3px;
    margin-bottom: 4px;
}

.card-text {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #B8B8B8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
    transition:ease all  .3s;
    cursor: pointer;
    text-decoration: none;
}

.card-text:hover {
    color: white;
    text-decoration: underline;
    transition: ease all .3s;
}


.card-text-bigger-artist {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 6px;
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: white;
    --bs-pagination-bg: #2C2C2C;
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: transparent;
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: black;
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #2C2C2C;
    --bs-pagination-active-border-color: white;
    --bs-pagination-disabled-color: white;
    --bs-pagination-disabled-bg: #2C2C2C;
    --bs-pagination-disabled-border-color: #2C2C2C;
}

/* CHARTS */

.table-separete{
    padding-top: 15px;
    padding-bottom: 10px;
}

.chart-line{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-decoration: none;

}

.number {
    width: 4%;
    margin-right: 5px;
    margin-left: 5px;

}

.numbers {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    margin-right: 50px;

}

.chart-pic {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-right: 7px;
}

.chart-text-big {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Specify the number of lines to show */
    -webkit-box-orient: vertical;
    color: white;
    height: 100%;
    max-width: 100%;
    width: 100%;
    transition: ease all .3s;
}

.chart-text-big:hover {
    text-decoration: underline;
    transition: ease all .3s;
}

.chart-big {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* width: 98%; */
    align-items: center;
    margin-right: 5px;
}

.chart-small {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 100%;
}

.chart-like {
    display: flex;
    flex-direction: row;
    width: 12%;
    height: 100%;
    justify-content: end;
    align-items: center;
}


.Header-Charts {
    font-family: "audiowide", sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 10px;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 2px black;
}

.chart-small-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: ease all .10s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Specify the number of lines to show */
    -webkit-box-orient: vertical;
    }
    
    .chart-small-text:hover {
        text-decoration: underline;
        transition: .5s;
}

.chart-like-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: white;
    text-align: end;
    width: 10%;
    margin-right: 15px;
}

.chart-like-text-artist {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: white;
    text-align: end;
    width: 5%;
}

.chart-like-artist {
    display: flex;
    flex-direction: row;
    width: 38%;
    height: 100%;
    justify-content: end;
    align-items: center;
}

/* LOGIN AND REGISTER */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: #2C2C2C;
    border-radius: 10px;
}

.cross {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-right: 30px;
}

.login-header {
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: 'audiowide', sans-serif;
}

.login-input {
    width: 80%;
    height: 57px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 22px;
    color: white;
    padding-left: 15px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center ;
}

.login-button {
    width: 40%;
    height: 41px;
    background-color: transparent;
    border: 4px solid #864334;
    border-radius: 4px;
    font-size: 22px;
    color: white;
    font-family: 'audiowide', sans-serif;
}

.login-button:hover {
    background-color: #864334;
    transition: 0.3s;
}

.login-undertext {
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.login-undertext-button {
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    text-decoration: none;
    transition: ease all .3s;
    cursor: pointer;
}

.login-undertext-button:hover {
    text-decoration: underline;
    transition: ease all .3s;
}

.error-login {
    margin-top: 0;
    text-align: center;
    height: 2%;
    color: red;
}
.error-login-1 {
    margin-top: 0;
    text-align: center;
    height: 2%;
    color: red;
}

.error-login {
    margin-top: 0;
    text-align: center;
    height: 2%;
    color: red;
}

.img-input {
    display: none;
}

.remember-me {
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1px;
    font-weight: 400;
}

.form-check-input {
    background-color: transparent;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: transparent;
    border: 2px solid white;
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
    border: 2px solid white;
}

/* ARTIST INFO */

.Info-Image {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
    border: #808080 3px solid;
}

.info-header {
    font-family: 'audiowide', sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.background-block {
    background-color: #373737;
    width: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;
    color: white;
    padding: 10px;

}

.read-more-button {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: ease all 0.3;
    
}

.read-more-button:hover {
    text-decoration: underline;
    transition: ease all 0.3;
}

.desc-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}

.desc-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    max-height: 200px;
    overflow: hidden;
    /* text-align: center; */
}

.desc-text.expanded {
    max-height: 100%;
    overflow: auto;
}

.comments-header {
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
}

hr {
    border: 1px white solid; margin-top: 8px
}

.comment-input{
    padding: 5px;
    padding-left: 15px;
    height: 60px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #c1bebe49 ;
    color:white;
    width: 100%;
}

.comment-input::placeholder {
    color: white;
}

.text-Montserrat {
    font-family: 'Montserrat', sans-serif;
    width: 98%;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.line-2 {
    width: 100%;
    height: 4px;
    border: white 1px solid;
}

.artist-tracks-header {
    font-family: 'audiowide', sans-serif;
    font-size: 21px;
    color: white;
    text-align: center;
    padding-top: 7px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
}

.artist-tracks-headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 130px;
}

.artist-tracks-headers-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.track-artist {
    background-color: #373737;
    width: 48%;
    height: 185px;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;

}


.artist-track-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    padding-top: 10px;
    font-weight: 600;
    max-width: 245px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Specify the number of lines to show */
    -webkit-box-orient: vertical;
}

.track-cover {
    object-fit: cover;
    margin-left: 10px;
    width: 160px;
    height: 160px;
}

.artist-track-album {
    padding: 0px 10px;
    color: #808080;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
    text-decoration: none;
    transition: ease all 0.3s;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.artist-track-album:hover {
    color: white;

    transition: ease all 0.3s;
}


.artist-button {
    background-color: #373737;
    text-align: center;
    width: 94%;
    height: 40px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    box-shadow: 10px 10px 4px #00000054;
    border-radius: 5px ;
}

.artist-button-album {
    background-color: #373737;
    text-align: center;
    width: 93%;
    height: 40px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    box-shadow: 10px 10px 4px #00000054;
    border-radius: 5px;

}

.artist-header-line {
    width: 27%;
    height: 2px;
    border: white 1px solid;
    background-color: white;
}

.all-line-2 {
    width: 30%;
    height: 2px;
    border: white 1px solid;
    background-color: white;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
} 

  /* Track */
::-webkit-scrollbar-track {
    background: #555;
} 

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #2C2C2C;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #202020;
}

.artist-album-card {
    background-color: #373737;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;
}

.text-Montserrat-light {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
    color: #B8B8B8;
}

.text-Montserrat-album {
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
    font-weight: 600;
    font-size: 20px;
}
/* SEARCH RESULT */

.no-info {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
}

.track-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
}

.track-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 50%; */
    margin: 1em;
    flex: 1;
    padding: 10px;

}

.track-info {
    margin: 0 auto;
    align-items: center;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

/* USER PAGE */

.edit-button{
    background-color: #373737;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    padding: 5px 20px;
    margin-bottom: 15px;
    border: #808080 2px solid;
    transition: ease all 0.3s;
    cursor: pointer;
}

.edit-button:hover {
    background-color: white;
    border: black 2px solid;
    transition: ease all 0.3s;
    color: black;
}

.edit-header {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'audiowide', sans-serif;
    margin-bottom: 15px;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #202020;
    border-radius: 10px;
}

.label-edit {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #837F7F;
    font-weight: 500;
}

.edit-input {
    width: 95%;
    height: 40px;
    background-color: #373737;
    border-radius: 5px;
    font-size: 22px;
    color: white;
    padding-left: 15px;
    border: none;
    box-shadow: 10px 10px 4px #00000054;
    resize: none;
}

.save-button {
    background-color: transparent;
    border: 2px solid green;
    border-radius: 15px;
    font-size: 20px;
    color: green;
    font-family: 'audiowide', sans-serif;
    padding: 10px 100px;
}

.cancel-button {
    background-color: transparent;
    border: 2px solid red;
    border-radius: 15px;
    font-size: 20px;
    color: red;
    font-family: 'audiowide', sans-serif;
    padding: 10px 100px;
}

.save-button:hover {
    background-color: green;
    color: black;
    transition: ease all 0.5s;
}

.cancel-button:hover {
    background-color: red;
    color: black;
    transition: ease all 0.5s;
}

.edit-change-button {
    background-color: transparent;
    font-size: 25px;
    color: #837F7F;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.edit-change-button:hover {
    color: white;
    transition: ease all 0.5s;
}

/* ALBUM INFO */

.artists-lower-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    transition: ease all 0.1s;
    cursor: pointer;
}

.artists-lower-text:hover {
    text-decoration: underline;
    font-weight: 300;
    transition: ease all 0.05s;
}

.album-cover {
    position: relative;
    text-align: center;
    color: white;
}
.album-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alb {
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: ease all .2s;
}


.album-cover:hover .alb{
    filter: brightness(25%);
    transition: ease all .2s;
}

.album-name {
    display: none;
    font-family: 'audiowide', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    font-weight: 400;
    transition:ease all .5s;
}

.album-cover:hover .album-name {
    display: block;
    transition:ease all .5s;
}

.album-year {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    font-weight: 200;
    transition:ease all .5s;
}

.album-cover:hover .album-year {
    display: block;
    transition:ease all .5s;
}

.all-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #808080;
    text-decoration: none;
    transition: ease all 0.3s;
}

.all-button:hover {
    text-decoration: underline;
    transition: ease all 0.3s;
    color: white;
}
.number-album {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #606060;
    font-size: 26px;
}

.album-track {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Specify the number of lines to show */
    -webkit-box-orient: vertical;
    width: 100%;
}

.album-track:hover {
    text-decoration: underline;
    transition: ease all 0.3s;
}

.comment-user {
    color: #837F7F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    transition: ease all 0.3s;
    padding-top: 3px;
}

.comment-user:hover {
    color: white;
    text-decoration: underline;
    transition: ease all 0.3s;
}

/* TRACK INFO PAGE */

.track-like-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
    width: 10%;
    margin-right: 15px;
}

.other-tracks-heading {
    font-family: ';Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.other-tracks {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Specify the number of lines to show */
    -webkit-box-orient: vertical;
    color: white;
    height: 100%;
    max-width: 100%;
    width: 100%;
    transition: ease all .1s;
    cursor: pointer;
}

.other-tracks:hover {
    text-decoration: underline;
    transition: ease all .1s;
}

.other-tracks-link {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
}

.other-tracks-link:hover {
    text-decoration: underline;
    transition: ease all .1s;
}

.track-lyrics-background {
    background-color: #373737;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tracks-lyrics-headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.pt-130 {
    padding-top: 130px;
}

.track-lyrics {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
}

.no-track-lyrics {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.found-nothing {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-align: center;
}

/* ALL TRACKS AND ALBUMS */

.all-header {
    font-family: 'audiowide', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 10px;
    transition: ease all 0.3s;
}


.all-header:hover {
    text-decoration: underline;
    transition: ease all 0.3s;
}

.all-button-pressed {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    width: 115px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    height: 30px;
    padding: 1px;
    cursor: pointer;
}

.all-button-unpressed {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    width: 115px;
    border-radius: 50px;
    background-color: black;
    text-align: center;
    height: 30px;
    padding: 1px;
    cursor: pointer;
}

.all-header-2 {
    font-family: 'audiowide', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.all-header-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-weight: 300;
}

.all-tracks-3 {
    background-color: #373737;
    width: 30%;
    height: 185px;
    border-radius: 5px;
    box-shadow: 10px 10px 4px #00000054;
}

/* DASHBOARD & ADMIN */

.dashboard-input {
    width: 53%;
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #373737;
    color: white;
    font-size: 25px;
    box-shadow: 10px 10px 4px #00000054;
}

.dashboard-button {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: white;
    height: 40px;
    border-radius: 10px;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    transition: ease all 0.3s;
    box-shadow: 10px 10px 4px #00000054;   
}

.dashboard-button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: ease all 0.3s;
}

.confirmation-header {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'audiowide', sans-serif;
}

.confirmation-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #837F7F;
    text-align: center;
    font-weight: 600;
}

.save-button-confirmation {
    background-color: transparent;
    border: 2px solid green;
    border-radius: 15px;
    font-size: 20px;
    color: green;
    font-family: 'audiowide', sans-serif;
    width: 50%;
    display: flex;
    justify-content: center;
    transition: ease all 0.3s;
}

.save-button-confirmation:hover {
    background-color: green;
    color: black;
    transition: ease all 0.3s;
}

.cancel-button-confirmation {
    background-color: transparent;
    border: 2px solid red;
    border-radius: 15px;
    font-size: 20px;
    color: red;
    font-family: 'audiowide', sans-serif;
    width: 30%;
    display: flex;
    justify-content: center;
    transition: ease all 0.3s;
}

.cancel-button-confirmation:hover {
    background-color: red;
    color: black;
    transition: ease all 0.3s;
}

.buttons-inside-confirm {
    background-color: transparent;
    border: none;
    color: white;
    color: green;
    transition: ease all 0.3s;
}

.save-button-confirmation:hover .buttons-inside-confirm{
    background-color: transparent;
    border: none;
    color: black;
    transition: ease all 0.3s;
}

.buttons-inside-cancel {
    background-color: transparent;
    border: none;
    color: red;
    transition: ease all 0.3s;
}

.cancel-button-confirmation:hover .buttons-inside-cancel {
    background-color: transparent;
    border: none;
    color: black;
    transition: ease all 0.3s;
}

.add-input {
    width: 95%;
    height: 50px;
    padding-left: 15px;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #373737;
    color: white;
    font-size: 25px;
    box-shadow: 10px 10px 4px #00000054;
}

.add_input_label {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #837F7F;
    font-weight: 500;
}

.add_textarea {
    width: 95%;
    height: 300px;
    padding-left: 15px;
    padding-top:5px;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #373737;
    color: white;
    font-size: 25px;
    box-shadow: 10px 10px 4px #00000054;
}

.add-save-button {
    background-color: transparent;
    border: 2px solid green;
    border-radius: 15px;
    font-size: 25px;
    color: green;
    font-family: 'audiowide', sans-serif;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all 0.3s;
    height: 55px;
}

.add-save-button:hover {
    background-color: green;
    color: black;
    transition: ease all 0.3s;
}

.add-cancel-button {
    background-color: transparent;
    border: 2px solid red;
    border-radius: 15px;
    font-size: 25px;
    color: red;
    font-family: 'audiowide', sans-serif;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all 0.3s;
    height: 55px;
}

.add-cancel-button:hover {
    background-color: red;
    color: black;
    transition: ease all 0.3s;
}

.add_textarea-small {
    width: 95%;
    height: 135px;
    padding-left: 15px;
    padding-top:5px;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #373737;
    color: white;
    font-size: 25px;
    box-shadow: 10px 10px 4px #00000054;
}

.add-input-genre {
    width: 100%;
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #373737;
    color: white;
    font-size: 25px;
    box-shadow: 10px 10px 4px #00000054;
}

.plus-button{
    width: 5%;
    height: 50px;
    border-left: 2px solid white;
    padding-top: 2px;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #373737;
    color: white;
    font-size: 30px;
    box-shadow: 10px 10px 4px #00000054;
    margin-top: 33.5px;
    text-align: center;
    text-decoration: none;
    transition: ease all 0.3s;
    cursor: pointer;
}

.plus-button:hover {
    color: black;
    background-color: white;
    transition: ease all 0.3s;
}

.error-genre {
    margin-top: 0;
    text-align: center;
    height: 2%;
    color: red;
}
.Header-List-edit {
    font-family: "audiowide", sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Specify the number of lines to show */
    -webkit-box-orient: vertical;
    width: 100%;
    -webkit-text-stroke: 2px black;
    text-align: center;
}